<template name="comment_form">
  {{# if currentUser}}
    <button type="button" name="button" data-toggle="modal" data-target="#comment_form_form" class="btn btn-success pull-right js-toggle-comment-form">add comment</button>
  {{/if}}

  <div class="modal fade" id="comment_form_form">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-title">

        </div>
        <div class="modal-body">
            <form class="js-save-comment-form" role="form">
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="5" name="body"></textarea>
              </div>
              <button type="submit" name="button" class="btn btn-success">add</button>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" name="button" data-dismiss="modal" class="btn btn-warning">cancel</button>
        </div>
      </div>
    </div>
  </div>
</template>
