<template name="comment_item">
<li>
  <div class="panel panel-default">
    <div class="panel-heading">
    <strong>{{getUser createdBy}}</strong> <span class="text-muted">{{createdOn}}</span>
    </div>
    <div class="panel-body">
      {{body}}
    </div><!-- /panel-body -->
  </div>
</li>
</template>
