<template name="navbar">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <h1 class="navbar-brand" >Site Ace</h1>
      </div>
      <div class="container">
        <ul class="nav navbar-nav">
          <li class="{{ activeIfTemplateIs 'home' }}"><a href="{{pathFor 'home'}}">Home</a></li>
        </ul>
        <div class="pull-right pad-15">{{> loginButtons}}</div>
      </div>
    </div>
  </nav>
</template>
